{% extends 'base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="maintenance">
                <img class="maintenance-laink" src="{{ asset('uploads/img/maintenance/bg-laink.png') }}" alt="Wankul laink">
                <img class="maintenance-logo" src="{{ asset('uploads/img/maintenance/logo.png') }}"
                     alt="Logo wankul générateur">
                <img class="maintenance-terracid" src="{{ asset('uploads/img/maintenance/bg-terracid.png') }}"
                     alt="Wankul terracid">
                <div class="txt">
                    <h2>Travaux en cours !</h2>
                    <p>on voulait mettre un décompte mais le flemme :)</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
